CONFIG_MTK_FLASHLIGHT_PT=y
CONFIG_MTK_FLASHLIGHT_PT_STRICT=y
CONFIG_MTK_FLASHLIGHT_DLPT=y
CONFIG_MTK_GPU_POWER_THROTTLING=m
#audio pa
CONFIG_SND_SOC_FS181X=m
CONFIG_SND_SOC_AW87XXX=m

#CONFIG_TOUCHSCREEN_MTK_TOUCH is not set
#CONFIG_TOUCHSCREEN_MT6983_ALPHA_SUPPORT is not set
#CONFIG_TOUCHSCREEN_MT6895_ALPHA_SUPPORT is not set
CONFIG_TOUCHSCREEN_FTS=m
CONFIG_TOUCHSCREEN_GOODIX_BRL=m
CONFIG_TOUCHSCREEN_XIAOMI_TOUCHFEATURE=m
CONFIG_MI_DISP_NOTIFIER=y

CONFIG_DRM_PANEL_P6_36_0D_0B_DSC_VDO=m
CONFIG_DRM_PANEL_P6_41_0F_0A_DSC_VDO=m
#P6 code for HQFEAT-190393 by p-chenchen79 at 2025/09/26 start
CONFIG_DRM_PANEL_P6_42_02_0C_DSC_VDO=m
#P6 code for HQFEAT-190393 by p-chenchen79 at 2025/09/26 end
CONFIG_HQ_SYSFS_SUPPORT=m
#P6 code for HQFEAT-118719 by p-chenchen79 at 2025/07/02 start
CONFIG_MI_DISP_DFS_EVENT=y
#P6 code for HQFEAT-118719 by p-chenchen79 at 2025/07/02 end
# P6 code for HQFEAT-109456 by p-chenchen79 at 2025/6/16 start
CONFIG_MI_DISP_FOD_SYNC=y
CONFIG_MI_DISP_DOZE_SUSPEND=y
CONFIG_MI_DISP=y
CONFIG_MI_DISP_LHBM=y
# P6 code for HQFEAT-109456 by p-chenchen79 at 2025/6/16 end
# P6 code for HQFEAT-118221 by p-chenchen79 at 2025/6/27 start
CONFIG_MI_ESD_SUPPORT=y
# P6 code for HQFEAT-118221 by p-chenchen79 at 2025/6/27 end
#P6 code for HQFEAT-109508 by p-sunyuting at 2025/06/17 start
CONFIG_MTK_FINGERPRINT_SUPPORT=m
CONFIG_XIAOMI_FINGERPRINT=m
#P6 code for HQFEAT-109508 by p-sunyuting at 2025/06/17 end



# MTK platform related configurations
CONFIG_MTK_CHARGER=n
CONFIG_CHARGER_MT6375=n
CONFIG_BATTERY_MT6358=n
CONFIG_BATTERY_MT6359P=n
CONFIG_GAUGE_MT6375=n

# Charge Framwork Configurations
CONFIG_HQ_CHARGER_FRAMEWORK=m
CONFIG_HUAQIN_CHARGER_COMMON=y
CONFIG_HUAQIN_VOTER=m
CONFIG_HQ_NOTIFY=m
CONFIG_HUAQIN_CHARGER_MANAGER=m

CONFIG_RAINBOW_CHARGER_POLICY=m
CONFIG_HQ_JEITA_POLICY=m
CONFIG_HQ_THERMAL_POLICY=m
CONFIG_HQ_TERM_RECHARGE_POLICY=m
CONFIG_HQ_SHUTDOWN_POLICY=m
CONFIG_HUAQIN_CP_POLICY=m
# CONFIG_HUAQIN_QC_POLICY is not set
# CONFIG_HQ_HIGH_VOLTAGE_DCP is not set
CONFIG_HQ_REVERSE_CHARGE_POLICY=m

CONFIG_XM_BATTERY_HEALTH=m
CONFIG_XM_SMART_CHG=m
CONFIG_XM_CHG_DFS=m
CONFIG_XM_FG_I2C_ERR=m
CONFIG_CHG_ERP_SUPPORT=m
CONFIG_XM_CHG_UEVENT=m
# soft algo
# CONFIG_HUAQIN_FUEL_ALGORITHM is not set
# CONFIG_HUAQIN_SOC_SMOOTH_SUPPORT is not set
# CONFIG_HUAQIN_SOC_REACH_100_ALGO_SUPPORT is not set
# CONFIG_HUAQIN_SOFT_ITERM_SUPPORT is not set

# Charge Class
CONFIG_HQ_ADAPTER_CLASS=m
CONFIG_HQ_CHARGER_CLASS=m
CONFIG_HQ_FG_CLASS=m
CONFIG_HQ_CP_CLASS=m
CONFIG_HQ_LED_CLASS=m
CONFIG_XM_ADAPTER_CLASS=m

# Charge Hardware Arch Configurations
CONFIG_CHARGE_ARCH_SUBPMIC=m
CONFIG_CHARGE_ARCH_CHARGEPUMP=m
# CONFIG_CHARGE_ARCH_DUAL_CHARGEPUMP is not set

CONFIG_CHARGE_ARCH_FUELGAUGE=m
CONFIG_CHARGE_ARCH_BATT_AUTH=m

# Subpmic
CONFIG_SUBPMIC_SOUTHCHIP=m
CONFIG_SUBPMIC_SILERGY=m
CONFIG_SUBPMIC_NUVOLTA=m

CONFIG_SC_SUBPMIC_SC6601=m
CONFIG_SY_SUBPMIC_SY6976=m
CONFIG_NU_SUBPMIC_NU6601=m
CONFIG_PR_SWAP_FOR_NU6601=y

# Chargepump
CONFIG_CHARGEPUMP_SOUTHCHIP=m
CONFIG_CHARGEPUMP_NUVOLTA=m
CONFIG_CHARGEPUMP_TI=m

CONFIG_SC_CHARGEPUMP_SC8541=m
CONFIG_NU_CHARGEPUMP_NU2115=m
CONFIG_TI_CHARGEPUMP_BQ25960=m

# battery fuel gauge
CONFIG_CHARGE_ARCH_FUELGAUGE=m
CONFIG_BQ_FUEL_GAUGE=m

# battery verify ic
# CONFIG_CHARGE_ARCH_BATT_AUTH is not set
# CONFIG_ONEWIRE_GPIO is not set
# CONFIG_BATT_VERIFY is not set
# CONFIG_BATT_VERIFY_BY_DS28E30 is not set
# CONFIG_BATT_VERIFY_BY_SLG is not set
# CONFIG_BATT_VERIFY_BY_ST is not set
# CONFIG_BATT_VERIFY_SLG_V1 is not set
# CONFIG_BATT_VERIFY_SLG_V2 is not set

# TCPC
CONFIG_HUAQIN_USB_TYPEC=m
CONFIG_TCPC_RT1711H=m
CONFIG_TCPC_SC660X=m
CONFIG_TCPC_NU660X=m
CONFIG_PD_DBG_INFO=m

# Charge Feature Configurations
CONFIG_SC_SUBPMIC_BC12_PROTOCOL=m
CONFIG_SY_SUBPMIC_BC12_PROTOCOL=m

# XM function
CONFIG_PD_BATTERY_SECRET=m
CONFIG_XM_CHG_ANIMATION=m
# CONFIG_XIAOMI_SMART_CHG is not set
CONFIG_BC12_RETRY_FOR_MI_PD=m
CONFIG_RUST_DETECTION=y
CONFIG_ISC_PROTECT=y



#P6 code for HQFEAT-117955 by geyanjie start
#P6 code for HQFEAT-149851 by p-chenxiaoyong1 at 2025-07-10 start
#P6 code for HQFEAT-178146 by p-niekangyu at 2025-08-25 start
CONFIG_CUSTOM_KERNEL_IMGSENSOR="s5khp3_ofilm_main_mipi_raw s5khp3_aaciii_main_mipi_raw s5khp3_aacii_main_mipi_raw s5khp3_aac_main_mipi_raw gc08a8_sunny_ultra_mipi_raw gc08a8_aac_ultra_mipi_raw ov32d40_sunny_front_mipi_raw ov32d40_aac_front_mipi_raw"
#P6 code for HQFEAT-178146 by p-niekangyu at 2025-08-25 end
#P6 code for HQFEAT-149851 by p-chenxiaoyong1 at 2025-07-10 end
#P6 code for HQFEAT-117955 by geyanjie end

# P6 code for HQFEAT-109124 by tangjianxiong at 2025/6/10 start
CONFIG_SIMTRAY_STATUS=m
# P6 code for HQFEAT-109124 by tangjianxiong at 2025/6/10 end

# P6 code for HQFEAT-109485 by wanjian at 2025/6/12 start
CONFIG_AUDIO_TYPEC_SWITCH=m
# P6 code for HQFEAT-109485 by wanjian at 2025/6/13 end

# P6 code for BUGP6-373 by wanjian at 2025/6/30 start
CONFIG_HQ_AUDIO_SUPPORT=m
# P6 code for BUGP6-373 by wanjian at 2025/6/30 end

#P6 code for HQFEAT-120416 by changqi at 20250624 start
CONFIG_MTK_FLASHLIGHT_SUBPMIC=y
CONFIG_MTK_VIDEO_LM3643=n
CONFIG_MTK_VIDEO_LM3644=n
CONFIG_MTK_FLASHLIGHT_PT=n
CONFIG_MTK_FLASHLIGHT_PT_STRICT=n
CONFIG_MTK_FLASHLIGHT_DLPT=n
#P6 code for HQFEAT-120416 by changqi at 20250624 end
# P6 code for HQFEAT-123538 by p-gaobowei1 at 2025/06/11 start
CONFIG_POWER_BYP=m
# P6 code for HQFEAT-123538 by p-gaobowei1 at 2025/06/11 end

#P6 code for HQFEAT-109483 by tangjianxiong at 2025/06/10 start
CONFIG_HAPTIC_NV=m
CONFIG_INPUT_FS3XXX_HAPTIC=m
#P6 code for HQFEAT-109483 by tangjianxiong at 2025/06/10 end
# P6 code for HQFEAT-130135 by p-gaobowei1 at 2025/06/11 start
CONFIG_CPUMAXFREQ_SUPPORT=m
# P6 code for HQFEAT-130135 by p-gaobowei1 at 2025/06/11 end

# P6 code for HQFEAT-137038 by p-guoruixin at 2025/06/17 start
CONFIG_SWITCH=m
# P6 code for HQFEAT-137038 by p-guoruixin at 2025/06/17 end

# P6 code for HQFEAT-137572 by p-hudongjiao3 at 2025/06/26 start
CONFIG_MTK_TINYSYS_SCP_DEBUG_SUPPORT=y
# P6 code for HQFEAT-137572 by p-hudongjiao3 at 2025/06/26 start

# P6 code for HQFEAT-120111 by p-zhangyue19 at 2025/07/13 start
CONFIG_MTK_SEC_VIDEO_PATH_SUPPORT=y
# P6 code for HQFEAT-120111 by p-zhangyue19 at 2025/07/13 end

#P6 code for HQFEAT-109453 by v-shuguoqing at 2025/07/07 start
CONFIG_MTK_VOW_BARGE_IN_SUPPORT=y
CONFIG_MTK_VOW_GVA_SUPPORT=y
CONFIG_MTK_VOW_MAX_PDK_NUMBER=0
#P6 code for HQFEAT-109453 by v-shuguoqing at 2025/07/07 end
