&odm {
	/* platform device */
	frsm_amp: frsm_amp  {
		compatible = "foursemi,frsm-amp";
		frsm,amp-ndev = <2>;
		frsm,class-enable;
		status = "okay";
	};

	/* platform device */
	frsm_amp_mngr: frsm_amp_mngr {
		compatible = "audio,spkr-amp-mngr";
		audio,register-dapm = <0>;
		audio,amp-ndev = <2>;
		status = "okay";
	};
};

/* i2c device */
&i2c5 {
	clock-frequency = <400000>;
	mediatek,use-open-drain;
	spk_amp1: fs1815@35 {
		compatible = "foursemi,fs1815";
		reg = <0x35>;
		spkr-id = <1>;
		//soft-reset = <0x100002>;
		fwm-name = "frsm-spk1.bin";
		status = "okay";
	};

	spk_amp2: fs1815@34 {
		compatible = "foursemi,fs1815";
		reg = <0x34>;
		spkr-id = <2>;
		//soft-reset = <0x100002>;
		fwm-name = "frsm-spk2.bin";
		status = "okay";
	};

	aw87xxx_pa_58@58 {
		compatible = "awinic,aw87xxx_pa";
		reg = <0x58>;
		reset-gpio = <&pio 67 0>;
		dev_index = < 1 >;
		status = "okay";
	};
	aw87xxx_pa_5B@5B {
		compatible = "awinic,aw87xxx_pa";
		reg = <0x5B>;
		reset-gpio = <&pio 69 0>;
		dev_index = < 0 >;
		status = "okay";
	};
};